
{% extends 'base.html' %}
{% block title %}Actor Details{% endblock %}
{% block content %}
    <div class="card mt-5">
        <div class="card-header">
            <h2 class="mb-0">Actor Details</h2>
        </div>
        <div class="card-body">
            <p class="mb-2"><strong>ID:</strong> {{ actor.actor_id }}</p>
            <p class="mb-2"><strong>First Name:</strong> {{ actor.first_name }}</p>
            <p class="mb-2"><strong>Last Name:</strong> {{ actor.last_name }}</p>
            <p class="mb-2"><strong>Birth Date:</strong> {{ actor.birth_date }}</p>
            <p class="mb-2"><strong>Character:</strong> {{ actor.character.name }}</p>
            <a href="{% url 'actor_update' actor.actor_id %}" class="btn btn-primary">Update</a>
            <a href="{% url 'actor_delete' actor.actor_id %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'actor-list' %}" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
{% endblock %}
