
{% extends 'base.html' %}
{% block title %}Update Award{% endblock %}
{% block content %}
    <div class="card mt-5">
        <div class="card-header">
            <h2 class="mb-0">Update Award</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ award.name }}" required>
                </div>
                <div class="form-group">
                    <label for="type">Type:</label>
                    <input type="text" class="form-control" id="type" name
