{% extends 'base.html' %}
{% block title %}Director Details{% endblock %}
{% block content %}
<body>
    <div class="container text-center">
        <a href="{% url 'kdrama-list' %}" class="btn btn-info btn-sm">Home (Kdrama list)</a>
    </div>
</body>

    <div class="card mt-5">
        <div class="card-header">
            <h2 class="mb-0">Director Details</h2>
        </div>
        <div class="card-body">
            <p class="mb-2"><strong>ID:</strong> {{ director.director_id }}</p>
            <p class="mb-2"><strong>First Name:</strong> {{ director.first_name }}</p>
            <p class="mb-2"><strong>Last Name:</strong> {{ director.last_name }}</p>
            <p class="mb-2"><strong>Kdrama:</strong> {{ director.kdrama.title }}</p>

            {% if user_can_modify %}
                <a href="{% url 'director_update' director.director_id %}" class="btn btn-primary">Update</a>
                <a href="{% url 'director_delete' director.director_id %}" class="btn btn-danger">Delete</a>
            {% endif %}
            <a href="{% url 'director-list' %}" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
{% endblock %}
