{% extends 'base.html' %}
{% block title %}Add Director{% endblock %}
{% block content %}
<body>
    <div class="container text-center">
        <a href="{% url 'kdrama-list' %}" class="btn btn-info btn-sm">Home (Kdrama list)</a>
    </div>
</body>

    <div class="card mt-5">
        <div class="card-header">
            <h2 class="mb-0">Add Director</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" required>
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" required>
                </div>
                <div class="form-group">
                    <label for="kdrama">Kdrama:</label>
                    <select class="form-control" id="kdrama" name="kdrama" required>
                        {% for drama in kdramas %}
                            <option value="{{ drama.kdrama_id }}">{{ drama.title }}</option>
                        {% empty %}
                            <option disabled>No dramas available</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Add Director</button>
            </form>
        </div>
    </div>
{% endblock %}
