{% extends 'base.html' %}
{% block title %}Kdrama Details{% endblock %}
{% block content %}
<body>
    <div class="container text-center">
        <a href="{% url 'kdrama-list' %}" class="btn btn-info btn-sm">Home (Kdrama list)</a>
    </div>
</body>

    <div class="card mt-5">
        <div class="card-header">
            <h2 class="mb-0">Kdrama Details</h2>
        </div>
        <div class="card-body">
            <p class="mb-2"><strong>ID:</strong> {{ kdrama.kdrama_id }}</p>
            <p class="mb-2"><strong>Title:</strong> {{ kdrama.title }}</p>
            <p class="mb-2"><strong>Description:</strong> {{ kdrama.description }}</p>
            <p class="mb-2"><strong>Date:</strong> {{ kdrama.release_year }}</p>
            <p class="mb-2"><strong>Duration:</strong> {{ kdrama.duration }}</p>

            {% if user_can_purchase %}
                <a href="{% url 'purchase' kdrama_id=kdrama.pk %}" class="btn btn-secondary btn-sm">Purchase</a>
            {% endif %}

            {% if user_can_modify %}
                <a href="{% url 'kdrama_update' kdrama.kdrama_id %}" class="btn btn-primary">Update</a>
                <a href="{% url 'kdrama_delete' kdrama.kdrama_id %}" class="btn btn-danger">Delete</a>
            {% endif %}
            
            <a href="{% url 'kdrama-list' %}" class="btn btn-secondary">Back to List</a>
            
            <a href="{% url 'actor-list' %}" class="btn btn-info">Actor List</a>
            <a href="{% url 'award-list' %}" class="btn btn-warning">Award List</a>
            <a href="{% url 'director-list' %}" class="btn btn-success">Director List</a>
            <a href="{% url 'prodcompany-list' %}" class="btn btn-primary">Production Company List</a>

        </div>
    </div>
{% endblock %}
