{% extends 'base.html' %}
{% block title %}Kdrama Details{% endblock %}
{% block content %}
    <div class="card mt-5">
        <div class="card-header">
            <h2 class="mb-0">Kdrama Details</h2>
        </div>
        <div class="card-body">
            <p class="mb-2"><strong>ID:</strong> {{ kdrama.kdrama_id }}</p>
            <p class="mb-2"><strong>Title:</strong> {{ kdrama.title }}</p>
            <p class="mb-2"><strong>Description:</strong> {{ kdrama.description }}</p>
            <p class="mb-2"><strong>Date:</strong> {{ kdrama.release_year }}</p>
            <p class="mb-2"><strong>Duration:</strong> {{ kdrama.duration }}</p>

            {% if user_can_purchase %}
                <a href="{% url 'purchase' kdrama_id=kdrama.pk %}" class="btn btn-secondary btn-sm">Purchase</a>
            {% endif %}

            {% if user_can_modify %}
                <a href="{% url 'kdrama_update' kdrama.kdrama_id %}" class="btn btn-primary">Update</a>
                <a href="{% url 'kdrama_delete' kdrama.kdrama_id %}" class="btn btn-danger">Delete</a>
            {% endif %}
            <a href="{% url 'kdrama-list' %}" class="btn btn-secondary">Back to List</a>
            
            <a href="{% url 'actor_details' actor_id=kdrama.actor_id %}" class="btn btn-info">Actor Details</a>
            <a href="{% url 'award_details' award_id=kdrama.award_id %}" class="btn btn-warning">Award Details</a>
            <a href="{% url 'director_details' director_id=kdrama.director_id %}" class="btn btn-success">Director Details</a>
            <a href="{% url 'prodcompany_details' prod_company_id=kdrama.prod_company_id %}" class="btn btn-primary">Production Company Details</a>
        </div>
    </div>
{% endblock %}
