
{% extends 'base.html' %}
{% block title %}Production Company List{% endblock %}
{% block content %}
    <div class="card mt-5">
        <div class="card-header">
            <h2 class="mb-0">Production Company List</h2>
        </div>
        <div class="card-body">
            
            <a href="{% url 'prodcompany_add' %}" class="btn btn-primary mb-3">Add Production Company</a>
            <ul>
                {% for prod_company in prod_companies %}
                    <li>{{ prod_company.name }}
                        
                        <a href="{% url 'prodcompany_details' prod_company_id=prod_company.pk %}" class="btn btn-info btn-sm">Details</a>
                        
                        <a href="{% url 'prodcompany_delete' prod_company_id=prod_company.pk %}" class="btn btn-danger btn-sm">Delete</a>
                        
                        <a href="{% url 'prodcompany_update' prod_company_id=prod_company.pk %}" class="btn btn-secondary btn-sm">Update</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
