{% extends 'base.html' %}
{% block title %}Delete Production Company{% endblock %}
{% block content %}
    <div class="card mt-5">
        <div class="card-header">
            <h2 class="mb-0">Delete Production Company</h2>
        </div>
        <div class="card-body">
            <p class="mb-2">Are you sure you want to delete "{{ prod_company.name }}"?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
{% endblock %}
