{% extends 'base.html' %}
{% block title %}Production Company List{% endblock %}
{% block content %}
    <div class="card mt-5">
        <div class="card-header">
            <h2 class="mb-0">Production Company List</h2>
        </div>
        <div class="card-body">
            <ul>
                {% for prod_company in prod_companies %}
                    <li><a href="{% url 'prodcompany_details' prod_company.prod_company_id %}">{{ prod_company.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
